{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
  <div class="login-wrapper">
    {% for flash_message in app.session.flashBag.get('error') %}
      <div class="callout alert" role="alert">
        {{ flash_message }}
      </div>
    {% endfor %}
    {% if error %}
      <div class="callout alert"> {{ error.messageKey| trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" class="login-form" method="post">
      <label for="username">Email:</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}"/>

      <label for="password">Password:</label>
      <input type="password" id="password" name="_password"/>

      {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button type="submit" class="button">Login</button>
    </form>
  </div>
{% endblock %}
