{% extends 'base.html.twig' %}

{% block title %}
  Blog
{% endblock %}

{% block body %}
  <h2>
    {{ blog.title }}
  </h2>

  <div class="blog-body">
    {{ blog.body|raw }}
  </div>
  <div class="tags">
    <label class=""> Tags :</label>
    {% for tag in blog.tags %}
      {{ tag.name }}
    {% endfor %}
  </div>

  <div class="button-group">
    <a href="{{ path('blog_index') }}" class="button">back to list</a>

    <a href="{{ path(
      'blog_edit',
      {
        id: blog.id
      }
    ) }}"
       class="button">
      edit
    </a>

    {{ include('blog/_delete_form.html.twig') }}
  </div>
{% endblock %}
