<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <header class="cell">
          <h1>
            My Blog
          </h1>
          <nav class="top-bar">
            <ul class="menu vertical medium-horizontal dropdown"
              data-responsive-menu="drilldown medium-dropdown"
              data-dropdown-menu>
              <li><a href="{{ path('home') }}">Home</a></li>
              <li>
                <a href="{{ path('blog_index') }}">Blogs</a>
                <ul class="menu">
                  <li><a href="{{ path('blog_new') }}">Create new blog</a></li>
                </ul>
              </li>
              <li><a href="{{ path('tag_index') }}">Tags</a></li>
            </ul>
          </nav>
        </header>
        <div class="cell">
          {% block body %}

          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
